@font-face {
    font-family: 'Quicksand-Medium';
    src: url('/assets/fonts/Quicksand/Quicksand-Medium.ttf');
}

body {
    font-family: 'Quicksand-Medium';
    background: #f4f4f4;
}

/* Navbar */
.navbar {
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar > li> a, .navbar-brand {
      padding-top:0 !important;
      padding-bottom:0 !important;
      height: 33px;
}
/* .navbar {
    background-color: #e74c3c;
    border-color: #c0392b;
} */